html{
    position: relative;
}
body{
    margin-bottom: 100px;
    background: url(../gambar\ dokter.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-nav ul i a{
    font-size: 1000px;
}

.container {
    background-color: rgb(12, 170, 170);
    width: 400px;
    height:auto;
    padding: 50px;
    border-radius: 5px;
    margin-top :100px;
}

  